 * {
  box-sizing: border-box;
  
}

header {
  background-color: #2f4f4f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-family: 'Saira', sans-serif;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav a {
  display: flex;
  justify-content: center;
}

nav img {
  width: 200px;
  height: 70px;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li a{
  font-family: 'Saira', sans-serif;
  color: #faebd7;
  text-decoration: none;
  align-items: center;
}

main {
  background-color: #aec7bb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

main img {
  margin-bottom: 30px;
}

#hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#hero img {
  width: 80%;
}

#hero h1 {
  font-family: 'Saira', sans-serif;
  font-size: 5rem;
  color: #2f4f4f;
  margin: 30px auto 30px;
}

#blurb {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#blurb p {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #407e79;
  justify-content: center;
  align-items: center;
}

#blurb img {
  width: 50%;
}

#locations {
  display: flex;
  margin-bottom: 30px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#locations h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #407e79;
  margin-bottom: 30px;
}

#locations ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

#locations li {
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #407e79;
}

#merch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#merch h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #407e79;
  margin-bottom: 30px;
}

#merch div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#merch img {
  width: 200px;
  height: 200px;
}

#contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #407e79;
}

#contacts ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

/* Table styles */
table, td, th {
  border: 1px solid rgb(112, 159, 165);
}

table {
  margin: 1rem;
}

td, th {
  padding: 1rem;
}

th {
  font-weight: bold;
}

tfoot {
  background-color: #f7bfa1;
}

/* Form styles */
form {
  font-family: 'Saira', sans-serif;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

fieldset{
  display: flex;
  flex-direction: column;
}

#salesTable {
  font-family: 'Saira', sans-serif;
  align-items: center;
  color: #2f4f4f;
}